<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://192.168.1.88:3306/acc</property>
        <property name="connection.username">root</property>
        <property name="connection.password">toor</property>
        <!-- JDBC connection pool (use the built-in) -->
        <!--<property name="connection.pool_size">1</property>-->
        <!-- Connection Pooling 
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.max_statements">50</property>-->
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        <mapping resource="com/ivanbiz/model/GLAccount.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/Jurnal.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/ProCode.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/SettingGL.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/GroupAcc.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/Murid.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/Pengajar.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/Pengguna.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/Groups.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/AksesMatrix.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/Kelas.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/DaftarKelas.hbm.xml"/>
        <!--<mapping resource="com/ivanbiz/model/BankAccount.hbm.xml"/>-->
        <mapping resource="com/ivanbiz/model/Pembayaran.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/Bank.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/Invoice.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/Perusahaan.hbm.xml"/>
        <mapping resource="com/ivanbiz/model/CashBalance.hbm.xml"/>
    </session-factory>
</hibernate-configuration>

